.tabulator-header-contents{
    height: 30px;
    line-height: 25px;
    font-size: .8rem;
    font-weight: 500;
}

.tabulator-header-contents .tabulator-headers{
    height: 30px;
}

.tabulator-cell{
    height: 30px;
    line-height: 25px;
}

.tabulator-row {
    height: 30px;
    line-height: 30px;
}

.tabulator-col-resize-handle{
    height: 30px;
}

.tabulator-col .tabulator-sortable .tabulator-col-sorter-element{
    display: flex;
    height: 30px !important;
}

.tabulator .tabulator-tableholder .tabulator-table{
    top: -3px;
}

.tabulator-row .tabulator-cell{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa ;
    margin-top: -3px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
