.tabulator{
    border: none;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    margin-top: -1px;
}

.tabulator-header-contents{
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 500;
}

.tabulator-header-contents .tabulator-headers{
    height: 40px;
}

.tabulator-cell{
    height: 40px;
    line-height: 40px;
}

.tabulator-row {
    height: 40px;
    line-height: 40px;
}

.tabulator-col .tabulator-sortable .tabulator-col-sorter-element{
    display: flex;
}

.tabulator .tabulator-tableholder .tabulator-table{
    top: -3px;
}

.tabulator-row .tabulator-cell{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa ;
    margin-top: -3px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabulator-col{
    height: 40px;
    line-height: 40px;
}


.tabulator .tabulator-header {
    background-color: #DFEBEE;
}
.tabulator .tabulator-header .tabulator-col{
    background-color: #DFEBEE;
    flex-direction: inherit;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title{
    font-size: 1rem;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content{
    padding-top: 0;
}

.tabulator-col-resize-handle{
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 1px;
}