.tabulator-calcs-holder{
    height: calc(100% - 50px);
}

.tabulator .tabulator-header{
    height: 30px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: .7rem;
    font-weight: 500;
}

.tabulator-col{
    height: 30px;
}