/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;margin: 0;padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	line-height: 1;
	font-size:.8rem;
    margin: 0;
    padding: 0;
}

a,ol, ul {
	list-style: none;
	text-decoration: none;
}
button {
    cursor: pointer;
}

label{
    padding: 0 10px;
}

.container{
    display: flex;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: #e2e2e2;
    font-size: 0.625rem;
}

.pop-tab-header .unittab-active {
    background: #5A79B5;
    color: #fff;
}

.workShop .unittab-active {
    background: #5A79B5;
    color: #fff;
}

.tableWork .unittab-active {
    background: #5A79B5;
    color: #fff;
}

/* span基本設定 */
.span-1{
    display:flex;
    height: 1rem;
    font-size: 0.75rem;
    color:#555555 ;
    margin-left:1%;
}

.span-repeat-1{
    display:block;
    border-radius: 5px;
    font-size:  1rem;
    color: #393939;
    font-weight: 500;
}

.span-repeat-2{
    display:block;
    border-radius: 5px;
    font-size:  1rem;
    color: #E96A6A;
    font-weight: 500;
}

.span-repeat-3{
    position: relative;
    top: 5px;
    color: #075D8E;
}

/* 左邊選單外框 */
.left-clumn{
    flex-direction: row;
    width: 15%;
    border: 1px solid #5A79B5;
    border-radius: 15px;
    margin: 5px;
    height: 99vh;
}

.left-clumn-row a{
    text-decoration:none ;
}

.left-clumn-row{
    padding: 0 3px;
    line-height: 2rem;
}

.left-clumn-row .title{
	font-size:.5rem;
    font-weight: 500;
    padding-left: 15px;
}

.left-clumn-row .secList{
	font-size:1rem;
}

.left-clumn-row a{
    display:flex;
	font-size:1rem;
    border-radius: 5px;
    margin-left: 3%;
    padding: 5px 0;
}

.left-clumn-row a:hover{
    color: #ffffff;
	background-color: #5A79B5;
    margin-left: 3%;
    padding: 5px 0;
    margin-right: 2%;
}

.left-clumn-row a:hover .materialSize{
    padding-left: 7px;
}

.left-clumn-row a:hover::before{
    content: "";
    border-left: 5px solid #5A79B5;
    position: relative;
    left:-8px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* note星星 */
.require::before{
    content: "*";
    color:#E96A6A;
    font-size:1rem ;
    position: relative;
    top: 3px;
    left: -2px;
}


/* 字體大小設定 */
.materialSize{
    font-size: 18px;
    line-height: 2rem;
    padding: 0 10px;
}

.materialSize-xs{
    font-size: .5rem;
    line-height: .9rem;
    position: relative;
    top: 2px;
}

.pop-materialSize-xs{
    font-size: 15px;
    line-height: .9rem;
    position: relative;
    top: 2px;
    left: -.3rem;
}

.materialSize-xs-grey{
    font-size: .5rem;
    line-height: .9rem;
    position: relative;
    top: 2px;
    color:#ffffff ;
}

.course-unit .materialSize-xs{
    font-size:1rem;
    position: relative;
    top: 8px;
    color: #797979;
}

.course-materialSize-xs{
    font-size: 15px;
    line-height: .9rem;
    position: relative;
    top: 3px;

}

.materialSize-s{
    font-size: 18px;
    line-height: 2rem;
    position: relative;
    top: 4px;
}

.materialSize-m{
    font-size: 20px;
    position: relative;
    top: 4px;
}

.materialSize-m-r{
    position: relative;
    top:5px ;
}

.unitH1{
    font-size:23px ;
    font-weight: 600;
    padding-left: 5px;
}

/* ul解除display:inline-flex間距 */
.lifteflex{
    display: flex;
}

/* column寬度設定 */
.columnOne{
    display:inline-flex;
    width: 30%;
}

.columnTwo{
    display: inline-flex;
    width: 60%;
}

.columnThree{
    display: inline-flex;
    width: 90%;
}
.columnFour{
    display: inline-flex;
    width: 50%;
}

.columnFive-right{
    display: inline-flex;
    justify-content: end;
    width: 40%;
}
.columnFive-left{
    display: inline-flex;
    justify-content: start;
    width: 40%;
}

.columnFive-left-37{
    display: inline-flex;
    justify-content: start;
    width: 37%;
}

.columnTen-right{
    display: inline-flex;
    justify-content: end;
    width: 10%;
}

.columnTen-left{
    display: inline-flex;
    justify-content: start;
    width: 10%;
}

/* 左邊選單logo */
.left-clumn-item_logo{
    display: block;
    margin: 20px auto;
    width: 90%;
    border: 1px solid #7E96C4;
    border-radius: 40px;

}

.left-clumn-item_logo img {
	display: block;
	width: 80%;
	padding: 10px;
	margin: 0 auto;
}

/* 右側選單外誆 */
.right-clumn{
    flex-direction: row;
    width: 85%;
    margin: 5px;
}

.right-clumn-row{
    padding: 5px;
    line-height: 2rem;
}

/* 工作項目選取群組 */
.listcheck-button-group{

}

/* 工作項目選擇 */
.workShop{
    border-radius: 20px;
    background-color: #ffffff;
    height: 2.5rem;
}

.workShop ul{
    display: inline-flex;
    background-color: #ebf0f6;
    border: 1px solid #5B7CBD;
    border-radius: 50px;
}

.workShop ul li{
    padding: 5px 0px;
    letter-spacing: 1px;
    font-size: .8rem;
    text-align: center;
}

.workShop ul li:first-child{
    padding-left: 7px;
}
.workShop ul li:last-child{
    padding-right: 7px;
}

.workShop ul li a{
    width: 100%;
    color: #5B7CBD;
    background-color: #ebf0f6;
    border-radius: 18px;
    padding: 5px 20px;
}

.workShop ul li a:hover{
    width: 100%;
    color: #ebf0f6;
    background-color: #5B7CBD;
    border-radius: 18px;
    padding: 5px 20px;
}

.workShop ul li a:active{
    color: #ebf0f6;
    background-color: #5B7CBD;
}

.workName{

}

.workName ul{
    display: flex;
    justify-content: end;
    border: 1px solid #5B7CBD;
    border-radius: 50px;
    padding: 5px 15px;
}

.workName ul li{
    font-size: .7rem;
    text-align: center;
    margin: 0 5px;
}

.workCode::before{
    content: "|";
    padding: 0 5px;
    font-weight: 500;
}

.logOut{
    font-size: 15px;
    margin-top: 3px;
}

.breadCrumb{

}

.breadCrumb a{
    color:#555555 ;
    font-size: 12px;
}

/* 輸入欄位基本設定 */

input[type=text] {
    width: calc(100% - .5rem);
    border: none;
    height: 24px;
    border-bottom: 1px solid #aaaaaa;
}

input[type=radio] {
    border: 1px solid #aaaaaa;
    height: 24px;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.pop-unit-input input[type=text]  {
    width: calc(100% - 15px);
    border: 1px solid #aaaaaa;
    height: 24px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}


/* input靠右 */
.pop-unit-input-right input[type=text] {
    width: calc(100% - 15px);
    border: 1px solid #aaaaaa;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    text-align: right;
}

.pop-unit-input input[type=date] {
    width: calc(100% - 15px);
    border: 1px solid #aaaaaa;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.pop-unit-input-two input[type=text] {
    width: calc(100% - 120px);
    border: 1px solid #aaaaaa;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

input[type="date" i] {
    align-items: center;
    display:block;
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width:calc(100% - 15px); 
    border:none;
    border-bottom: 1px solid #aaaaaa;
    margin-top: -5px;
}

.pop-unit-input > select {
    width: calc(100% - 10px);
    border: 1px solid #aaaaaa;
    height: 23px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: 10px;
	background:url(../img/arrow_drop_down_black_24dp2.svg) no-repeat right center transparent;
    line-height: 1.2rem;
}

.content-unit select {
    width: calc(100% - 10px);
    border: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaaaaa;
    height: 23px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: 10px;
	background:url(../img/arrow_drop_down_black_24dp2.svg) no-repeat right center transparent;
    line-height: 1.2rem;

}

.pop-double-unit-input select {
    width: calc(100% - 10px);
    border: 1px solid #aaaaaa;
    height: 23px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 10px;
	background:url(../img/arrow_drop_down_black_24dp2.svg) no-repeat right center transparent;
    line-height: 1.2rem;
    height:1.5rem;
}

.pop-double-unit-input .columnTwo{
    margin-right: -5px;
}

.course-unit select {
    width: calc(100% - 10px);
    border: none;
    height: 23px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: .8rem;
	background:url(../img/arrow_drop_down_black_24dp2.svg) no-repeat right center transparent;
    line-height: 1.2rem;
    color: #797979;
}

.poprow-nonborder select {
    width: calc(100% - 10px);
    border: none;
    height: 23px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: .8rem;
	background:url(../img/arrow_drop_down_black_24dp2.svg) no-repeat right center transparent;
    line-height: 1.2rem;
    color: #797979;
}

.pop-double-unit-input input[type=text] {
    width: calc(100% - 1px);
    border: 1px solid #aaaaaa;
    height: 24px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

input[type="checkbox"] ,[type="radio"] {
    line-height: 1.2rem;
    position: relative;
    top: 2px;
    border: 1px solid orange;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.3rem 1.2rem;
    margin: -1px;
    margin-left: -5px;
    font-size: .7rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea{
    display:block;
    width:98% ;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    margin: 5px;
}

.textarea2{
    display:flex;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    color: #393939;
    font-size: .75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* 按鈕設定 */
.title-button-group .btn-title-active {
    border-bottom: 2px solid #666666;
    padding: 8px 25px;
}

.btn-title:first-child{
    margin-left: 0px;
}

.btn-title{
    padding: 8px 25px;
    margin-left: -5px;
    background-color: #f7f7f7;
    border-radius: 1px;
}

.btn-title:hover{
    border-bottom: 2px solid #666666;
    padding: 8px 25px;
    background-color: transparent;
}

.btn-search{
    border: 1px solid #8D99AE;
	border-radius: 8px;
    padding:3px 30px;
    font-size: .9rem;
}

.btn-search:hover{
    border: 1px solid #8D99AE;
	border-radius: 8px;
    padding:3px 30px;
    font-size: .9rem;
    color:#5A79B5 ;
    background-color: #ffffff;
}

.btn-clear{
    border: 1px solid #ffffff;
	border-radius: 8px;
    padding:3px 30px;
    font-size: .9rem;
}

.btn-clear:hover{
    border: 1px solid #ebebeb;
	border-radius: 8px;
    padding:3px 30px;
    font-size: .9rem;
    color: #ffffff;
    background-color: #5A79B5;
}

.btn-cancel{
    border: 1px solid #075D8E;
    background-color: #ffffff;
    color: #075D8E;
	border-radius: 5px;
    padding:3px 25px;
    font-size: .5rem;
    margin: 0 auto;
}

.btn-cancel-2{
    border: 1px solid #949495;
    background-color: #f7f7f7;
    color: #949495;
	border-radius: 5px;
    padding:3px 25px;
    font-size: .5rem;
    margin: 0 auto;
}

.btn-sure{
    border: 1px solid #7E96C4;
    background-color: #075D8E;
    color: #ffffff;
	border-radius: 5px;
    padding:3px 25px;
    font-size: .5rem;
    margin: 0 auto;
}

.btn-sure-2{
    border: 1px solid #7E96C4;
    background-color: #555555;
    color: #ffffff;
	border-radius: 5px;
    padding:3px 25px;
    font-size: .5rem;
    margin: 0 auto;
}

.btn-choose{
    border: 1px solid #7E96C4;
    background-color: #5A79B5;
    color: #ffffff;
	border-radius: 5px;
    padding:1px 8px;
    font-size: .5rem;
    margin-left: 5px;
}

.btn-close{
    border: 1px solid #777777;
    background-color: #555555;
    color: #ffffff;
	border-radius: 5px;
    padding:3px 25px;
    font-size: .5rem;
    margin: 0 auto;
}

.btn-list{
    border: 1px solid #777777;
    background-color: #9e9e9e;
    color: #ffffff;
	border-radius: 5px;
    font-size: .5rem;
    margin: 0 auto;
    margin-left: 5px;
}

.btn-listcheck{
    border: 1px solid #f2f2f2;
    background-color: #e4e4e4;
    color: #313131;
	border-radius: 50px;
    font-size: .875rem;
    font-weight: 500;
    margin: 0 auto;
    margin-left: 5px;
    margin-top: 5px;
}

.pop-btn-add{
    border: 1px solid #5A79B5;
    background-color: #5A79B5;
    color: #ffffff;
	border-radius: 5px;
    padding:5px 15px;
    margin: 3px;
    font-size: 10px;
}

.timeline-btn-del{
    display: inline-flex;
    font-size: .75rem;

}

.query-unit{
    border: 1px solid #5A79B5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.query-unit-body{
    border: 1px solid #5A79B5;
    margin-top: -1px;
    padding: 10px 15px;
}

.content-unit{
    display: flex;
    border-bottom: 1px solid rgb(244, 244, 244);
    background-color: #ffffff;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* 彈窗單行搜尋 */
.content-unit-2{
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(244, 244, 244);
    background-color: #ffffff;
    border-radius: 5px;
    padding:15px;
}

.query-unit-info{
    display: flow-root;
    width: auto;
    border: 1px solid #5A79B5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -1px;
    padding: 8px 0;
    justify-content: end;
}

.query-unit-infolist{
    float: left;
    color: #075D8E;
    letter-spacing: 2px;
    margin-left: 10px;
}

.query-unit-infolist span{
    border: 1px solid yellow;
    display: inline-block;
    color: #075D8E;
    font-weight: 500;
    padding: 0 3px;
}

.query-unit-infobutton{
    float: right;
    margin-right: 10px;
}
/* 均分五塊 */
.query-unit-group{
    width: calc(100% / 5);
    border-right:1px solid rgb(244, 244, 244);
    padding: 5px;
}
/* 均分3塊 */
.query-unit-group-2{
    width: calc(100% / 3);
    border:1px solid rgb(244, 244, 244);
    border-bottom: none;
    padding: 15px 0 10px 0;
    margin-top: -1px;
}
/* 單行 */
.query-unit-group-3{
    width: 100%;
    border: none;
    padding: 15px 0 10px 0;
    margin-top: -1px;
}

.query-unit-title{
    padding-left: 8px;
}

.query-unit-button{
    padding-left: 8px;
}

.query-unit-input {
    display: flex;
    padding: 7px ;
}

/* 小彈窗的間距調整 */
.query-unit-input-2 {
    display: flex;
    padding: 3px ;
}

.query-unit-double-input{
    display: inline-flex;
}

.tableInfo{
    border: 1px solid #7E96C4;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tableWork{
    border-radius: 10px;
    line-height: 1.6rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tableWork button:first-child{
    margin-left: -1px;
    border-top-left-radius: 10px;
}

.tableBody{
    border: 1px solid #7E96C4;
    border-top: none;
}

.tablePage{
    border: 1px solid #aaaaaa;
    background-color:#eef1f7 ;
    line-height: 1.2rem;
}

.tablePage ul{
    display: flex;
    justify-content: end;
}

.tablePage li{
    line-height: 1.2rem;
    padding-top: 5px;
}

.bulenote{
    display: block;
    font-size: 8px;
    color:#075D8E ;
    margin: 3px;
    line-height: 1.2rem;
}

select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	border:1px solid #aaaaaa;
    border-radius: 2px;
	width:calc(100% - 1px);
	padding-left:2px;
	padding-right:30px;
	background:url(../img/arrow_drop_down_black_24dp.svg) no-repeat right center transparent;
    line-height: 1.3rem;

}

.zigzagLine{
    display: block;
    line-height: .9rem;
    margin: 0 2px;
    padding-top: 4px;
}

.title-button-group{
    display: inline-block;
    width: 100%;
    border-bottom:1px solid #aaaaaa;
    margin-bottom: 8px;
    margin-left: 8px;
}

/* pop視窗 */
.blackBackground{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(21,21,21,0.8);
    z-index: 990;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .8rem;
}

.blackBackground-2{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(21,21,21,0.8);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .8rem;
}
.popWindow{
    border: 2px solid #ABBBD9;
    background-color: #e2e2e2;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 3px black;
    border-radius: 15px;
}

.popWindow-2{
    border: 2px solid #c6c6c6;
    background-color: #e2e2e2;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 3px black;
    border-radius: 15px;
}

.pop-unit-label{
    line-height: 1.2rem;
    font-size: 12px;
    color: #075D8E;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 8px;
}

.pop-unit-label:first-child{
    margin-top: 3px;
}

.popWindow-header{
    display:flex;
    width: 100%;
    line-height: 1.2rem;
    background-color:#5A79B5;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    padding: 0;
}

.popWindow-header{
    display:flex;
    width: 100%;
    line-height: 1.2rem;
    background-color:#5A79B5;
    color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    padding: 0;
}

.popWindow-header-2{
    display:flex;
    width: 100%;
    line-height: 1.2rem;
    background-color:#d5d5d5;
    color: #555555;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333333;
}

.popTitle-2{
    width: 100%;
    font-size: .8rem;
    color: #393939;
    padding-left: 15px;
    padding-top: 8px;
}

.popWindow-body{
    width: 98%;
    background-color:#ffffff;
    padding: 1%;

}

.popWindow-body-2{
    width: 100%;
    background-color:#ffffff;
    padding-top: 2%;

}

.poprow{
    display:flex;
    width: 100%;
    background-color: #dde1e7;
    border: 1px solid #333333;
    margin-top: -1px;
}

.poprow-2{
    display:flex;
    width: 100%;
    margin: 5px 0 15px 0;
}

.poprow-nonborder{
    display:flex;
    padding: 10px 0;
    width: 100%;
    background-color: #ffffff;
}

.poprow-group{
    line-height: 1.2rem;
    padding: 10px 0;

}

.poprow-group-unit-title{
    display:block;
    padding: 5px 8px;
}

.poprow-group-unit-input {
    padding: 5px 8px;

}

.popTitle{
    width: 100%;
    font-size: 1rem;
    color: #ffffff;
    padding: 12px;
}

.popDel{
    font-size: .8rem;
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.popDel button{
    font-size: .7rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    padding-top: 5px;
    padding-right: 5px;
}

.poprow-2 span{
    display: inline;
    background-color:#cccccc ;
    border: none;
    padding: 5px 8px;
    border-radius: 10px;
    font-weight: 500;
    
}

.poprow-2 p{
    display:inline;
   color:#111111 ;
    border: none;
    padding: 5px 8px;
    margin-right: 10px;
    
}
/* 彈窗拼接欄位設定 */
.pop-unit-3{
    display: inline-flex;
    width:calc(100% / 3);
    line-height: 1.2rem;
}

.pop-unit-all{
    display: inline-flex;
    width:100%;
    line-height: 1.2rem;
}

.pop-unit-four{
    display: inline-flex;
    width: 25%;
    line-height: 1.2rem;
}

.pop-unit-two{
    display:flex;
    width: 50%;
    line-height: 1.2rem;
}

.pop-unit-title{
    width:30%;
    border-right: none;
    text-align: right;
    padding-right: 5px;
    background-color: #F2EDE6;
    font-size: .7rem;
    padding: 5px 3px;
    color: #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    margin-left: -1px;
}

.pop-unit-title-3{
    width:22.5%;
    border-right: none;
    text-align: right;
    padding-right: 5px;
    background-color: #F2EDE6;
    font-size: .7rem;
    padding: 5px 3px;
    color: #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    margin-left: -1px;
}

.pop-unit-title-4{
    width:7.5%;
    border-right: none;
    text-align: right;
    padding-right: 5px;
    background-color: #F2EDE6;
    font-size: .7rem;
    padding: 5px 3px;
    color: #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    margin-left: -1px;
}

.pop-unit-title-bgnone{
    width:30%;
    text-align: right;
    padding-right: 5px;
    font-size: .7rem;
    padding: 5px 3px;
    color: #333333;
    margin-left: -1px;
    background-color:#ffffff;
}

.pop-unit-title-two{
    width:15%;
    border-right: none;
    text-align: right;
    padding-right: 5px;
    background-color: #F2EDE6;
    font-size: .7rem;
    padding: 5px 3px;
    color: #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    margin-left: -1px;
}

.pop-unit-input{
    width:70%;
    border-right: none;
    background-color: #ffffff;
}

.pop-unit-input-3{
    width:77.5%;
    border-right: none;
    background-color: #ffffff;
}

.pop-unit-input-4{
    width:92.5%;
    border-right: none;
    background-color: #ffffff;
}

.pop-unit-input-two{
    display: inline-flex;
    width:86.5%;
    border-right: none;
    background-color: #ffffff;
}

.poprow .pop-unit-input{
    display: flex;
    border-right: none;
}

.poprow .pop-unit-input-last {
    border-right: 1px solid #333333;
}

.pop-unit-input{
    width:calc(100% - 15px);
    border-right: none;
    background-color: #ffffff;
}

.pop-unit-input label {
    height: 1.2rem;
    display: inline-flex;
    margin-top: 5px;
}

.pop-button-group{
    display: inline-block;
    width: 100%;
    background-color:#e4eff4 ;
    padding: 3px;
    border-bottom: none;
    margin-top: -1px;
}

.pop-double-unit-input{
    display: flex;
}

.pop-double-unit-input span{
    display: inline-block;
    color: #111111;
    font-weight: 500;
    padding-top:5px;
    line-height: 1.2rem;
}

.pophr{
    border: 2px solid #111111;
    margin: 0;
    z-index: 999;
    margin-right: -2px;
}

.pop-tab{
    border: 1px solid #111111;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pop-tab-header{
    line-height: 1.5rem;
    display:flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #dce7fa;
    width: 100%;
}

.pop-tab-header ul{
    display: flex;
    line-height: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #dce7fa;

}

.pop-tab-header li{
    display: inline;
    line-height: 2rem;
    font-size: 10px;
    color: #075D8E;
    padding-top: 1px;
    margin-left: -1px;
}

.pop-tab-header li a{
    display: inline;
    border-right: 1px solid #5A79B5;
    line-height: 2rem;
    padding:9px 15px;
    font-size: 10px;
    color: #075D8E;
}

.pop-tab-header li a:hover{
    border-right: 1px solid #5A79B5;
    line-height: 2rem;
    padding:9px 15px;
    font-size: 10px;
    color: #ffffff;
    background-color:#075D8E ;
}

.pop-tab-header li:first-child a:hover {
    border-right: 1px solid #5A79B5;
    line-height: 2rem;
    padding:9px 15px;
    font-size: 10px;
    color: #ffffff;
    background-color:#075D8E ;
    border-top-left-radius: 10px;
}

.pop-tab-header li:first-child a{
    border-top-left-radius: 10px;
    margin-left: 0;
}
.pop-tab-header li:last-child a{
    border-top-right-radius: 10px;
    margin-left: 0;
}

.pop-inside-border{
    border: 1px solid #797979;
    padding: 5px;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.tab-body{
    border: 1px solid #111111;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}

.tableinfo_content .tab-frame-1{
    border: 1px solid #c8c8c8;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: -1px;
}

.tab-frame-1 ul{
    display: inline-flex;
}

.tab-frame-1 li{
    line-height: 1.2rem;
    padding: 10px;
}

.tab-frame-1 span{
    padding: 0 5px;
}

.tab-body-2{
    border: 1px solid #c8c8c8;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: -1px;
}

.popWindow-footer{
    background-color:#dde1e7;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.popWindow-footer-2{
    background-color:#dde1e7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popfooter-button-group{
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}

.popfooter-button-group-2{
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}

.pop-table{
    border: 1px solid #797979;
    padding: 5px;
}

.pop-table-header{
    display: inline-flex;
    width: 100%;
    line-height: 2rem;
    background-color: #F2F2F2;
    border: 1px solid #797979;
    padding-left: 10px;
}

.tab-body-2 ul{
    display: inline-flex;
}

.tab-body-2 li{
    line-height: 1.2rem;
    padding: 10px;
}

.tab-body-2 span{
    padding: 0 5px;
}

.tab-body-2-footre{
    height: 1rem;
    background-color:#F2F2F2;
    border: 1px solid #797979;
    margin-top: -1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pop-table-header ul{
    display: inline-flex;
    margin-left: -8px;
}

.pop-table-header li{
    padding-top: 8px;
    line-height: 1.2rem;
    margin: 0 8px;
}

.pop-table-header:first-child li{
    margin-left: 0px;
}

.pop-table-header .pop-table-header-btn{
    background-color: #c6c6c6;
    line-height: 1rem;
    border-radius: 5px;
    border: 1px solid #888888;
    position: relative;
    top: -2px;
    padding: 2px 5px;
    margin-left: 5px;
}

.pop-table-body{

}

.pop-table-body ul{
    display: inline-flex;
    width:100% ;

}

.pop-table-body ul li{
    width: calc(100% / 8);
    border: 1px solid #797979;
    border-right: none;
    margin-top: -1px;
    padding: 5px 1px;
}

.pop-table-body ul li:last-child{
    border-right: 1px solid #797979;
}


.pop-table-label{
    display: inline-flex;
}

.pop-table-label-input{
    padding: 1px 0;
}
/* check置頂 */
.pop-table-label-input .inputstar{
    display: inline-flex;
    position: relative;
    top: -3px;
}

.pop-btn-3{
    background-color:#ffffff;
    color: #7F7F7F;
    position: relative;
    top: 3px;
    left: -3px;
    font-size:0.5rem;
    border: 1px solid #aaaaaa;
    height: 24px;
    margin-left: -8px;
    margin-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pop-body-frame{
    width: 100%;
}

/* pop視窗confire */
.model-confirm {
    position: flex;
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    z-index: 1;
    display: block;
    border: 2px solid #075D8E;
    background-color:#2080b8;
    border-radius: 10px;
    min-width: 35%;
}

.confirm-body{
    display: block;
    text-align: center;
    background-color: #ffffff;
    padding: 15px 10px;
    font-size: 1rem;
    line-height: 2rem;
}

.repeat-note{
    display: flex;
    background-color: #F2F2F2;
    border: 1px solid #666666;
    border-radius: 5px ;
    justify-content: center;
    padding:8px 0 ;
    margin-bottom:10px ;
    margin-top: 10px;
}

.repeat-note span{
    padding: 0 5px;
}

.alert-footer-button .btn-confirmcancel{
    border: 1px solid #075D8E;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px;
    color:#075D8E ;
    
}

.alert-footer-button .btn-confirmsure{
    border: 1px solid #075D8E;
    border-radius: 5px;
    background-color: #075D8E;
    color: #ffffff;
    margin: 3px 8px;
}

/* pop視窗alert */
.blackBackground-alert{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(21,21,21,0.8);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .8rem;
}
.model-alert {
    position: flex;
    width: 30%;
    margin: 0 auto;
    margin-top: 2rem;
    z-index: 1;
    display: block;
    border: 2px solid #E96A6A;
    background-color:#E96A6A ;
    border-radius: 10px;
}

.alert-header{
    display: flex;
}

.alertclose{
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.alertclose button{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
}

.alert-body{
    background-color: #eeeeee;
    padding: 1rem .5rem;
}

.alert-body p{
    display: block;
    text-align: center;
    line-height: 1rem;
    margin: 5px auto;
    font-size:  1rem;
    color:#555555;
    padding: 5px 0;
}

.alert-body span{
    display: inline-block;
    text-align: center;
    line-height: 1rem;
    font-size:  1rem;
    padding: 0 5px;
    font-weight: 500;
    padding: 5px 0;
    padding-left: 5px;
}

.alert-footer{
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
}
.alert-footer-button{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.alert-footer-button .btn-alertcancel{
    border: 1px solid #E96A6A;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px;
    color:#E96A6A ;
    
}

.alert-footer-button .btn-alertsure{
    border: 1px solid #E96A6A;
    border-radius: 5px;
    background-color: #E96A6A;
    color: #ffffff;
    margin: 3px 8px;
}

.courseWindow{
    border: 2px solid #797979;
    background-color: #EEEEEE;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 3px black;
    border-radius: 15px;
}

.courseWindow-header{
    display:flex;
    width: 100%;
    line-height: 2rem;
    background-color:#cccccc;
    color: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    padding: 0;
}

.courseTitle{
    width: 100%;
    font-size: .8rem;
    color: #000;
    padding-left: 15px;
    padding-top: 5px;
}

.courseClose{
    font-size: .8rem;
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.courseWindow-body{
    width: 100%;
    background-color:#f1f1f1;
    padding: 1%;

}

.course-unit-label{
    line-height: 1.2rem;
    font-size: 12px;
    color: #111111;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 8px;
}

.course-unit-label:first-child{
    margin-top: 3px;
}

.course-unit{
    display: flex;
    border-radius: 10px;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
    background-color: #ffffff;
    padding: 5px 0;
}

.course-unit-colum{
    width: calc(100% / 8);
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding:0;

}
.course-unit-colum-title{
    font-size: .5rem;
    line-height: 1.2rem;
    color: #777777;
    padding-left: 8px;
    padding-top: 5px;
}

.course-unit-colum-info{
    font-size: .5rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #555555;
    padding-left: 8px;
    padding-bottom: 5px;
}

.course-unit-label span{
    padding-left: 8px;
}

.course-unit ul{
    display: flex;
    padding-left: .8rem;
}

.course-unit li{
    display:inline-flex;
}

.unit-time{
    display: flex;
    border: 1px solid #797979;
    background-color:#F7F7F7 ;
    padding: 8px;
    border-radius: 5px;
}

.unit-time-oder{
    width: 100%;
    background-color:#e7eff2 ;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 1rem;
    padding: 5px;
    padding-left: 0px;
    overflow: scroll;
    height: 300px;
}

.oderpoint{
    display: inline-flex;
    height: 1rem;
    font-size: .3rem;
    border: 1px solid red;
    width:auto ;
    color:#555555 ;
    width:2%;
    justify-content: center left;
    align-items: center;
    margin-left: -5px;
}
.oderpoint-word{
    display: inline-flex;
    height: 1rem;
    font-size: .3rem;
    width:auto ;
    color:#555555 ;
    padding-top: 1px;

}

.oderpoint span{
    float: left;
    font-size: .4rem;
    color:#555555 ;
}

.time-oder-layer{
    display: flex;
    padding: 3px;
    border: 1px solid blueviolet;
}

.oderpoint-line{
    display: inline-block;
    margin-left:1%;
    margin-top: .5rem;
    width: 5%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
    border-left: none;

}

/* 時間軸細項 */
.time-oder-layer-unit{
    display: flex;
    border: 1px solid yellow;
}

.unit-time-group{
    background-color: #ffffff;
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -10px;

}

.layer-unit-doit{
    display: inline-flex;
    width: 2%;
    color: black;
    margin-left: -.4%;
    margin-top: -15px;
    margin-bottom: -15px;
}

.layer-unit-doit hr{
    border: 1px dashed #aaaaaa;
}

.layer-unit-word{
    width: 98%;
    border: 1px solid orange;
    margin: 10px 0;
}

.layer-unit-word span{
    display: inline-block;
    color:#111111 ;
    font-size:.9rem;
    background-color:#d4d4d4 ;
    padding:5px 28px;
    border-radius: 16px;

}

.layer-unit-word p{
    display: inline-block;
    color:#111111 ;
    padding-left: 5px;
    font-size: .8rem;
}

/* 時間軸footer */
.courseWindow-footer{
    background-color:#cccccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.coursefooter-button-group{
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
}

/* upload */
.uploadCase{
    background-color: #e3ecf1;
    border-radius: 5px;
    padding: 10px 0;
}

.upload-row{
    display:inline-flex;
    line-height:1.2rem;
    width:100%;
    margin: 5px 0;
    overflow-x: scroll;
}

.upload-row-sec{
    display:block;
    line-height:1.2rem;
    width:100%;
    margin: 5px 0;
    overflow-x: scroll;
}

.upload-row-sec p{
    font-size: .7rem;
    color:#7F7F7F ;
    margin-left: 5px;
    line-height: 1.2rem;
}

.upload-row p{
    font-size: .7rem;
    color:#7F7F7F ;
    margin-left: 5px;
    line-height: 1.2rem;
}

.btn-upload{
    border: 1px solid #075D8E;
    background-color: #ffffff;
    color: #333333;
	border-radius: 5px;
    padding:5px 15px;
    margin-left:5px;
    font-size: .5rem;
    box-shadow: 0px 2px 2px rgb(231, 231, 231);
}

.uploadCase hr.case{
    border: .1% solid #075D8E;
}

.upload-tabulate{
    display: block;
    margin: 0 auto;
    margin-top: -1px;
}

.upload-tabulate-header{
    line-height: 1.5rem;
    display: flex;
    border: 1px solid #aaaaaa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e3ecf1;
}

.upload-tabulate-header ul{
    display: flex;
    line-height: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e3ecf1;

}

.upload-tabulate-header li{
    display: inline;
    line-height: 1.5rem;
    font-size: 10px;
    color: #075D8E;
    margin-left: -1px;
}

.upload-tabulate-header li a{
    display: inline;
    line-height: 1.5rem;
    padding:0px 10px;
    font-size: 10px;
    color: #075D8E;
    border-left: 1px solid #075D8E;
}

.upload-tabulate-header li:first-child a{
    border-left: none;
}

.upload-tabulate-footer{
    background-color: #e3ecf1;
    height: 1rem;
    border: 1px solid #aaaaaa;
    margin-top: -1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1rem;
}

/* search bar 下拉選單出現樣式 */
.search-list{
    display: none;
    border: 1px solid #7F7F7F;
    box-shadow: 0px 2px 5px rgb(172, 172, 172);
    background-color: #ededed;
    border-radius: 5px;
    width: calc(100% / 8.1);
    position: absolute;
    top: 89%;
    left: 14.4%;
    padding: 5px;
    padding-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 400;
    z-index: 990;
    max-height: 250px;
}

.search-list-unit ul{
    display:block;

}

.search-list-unit li{
    padding-bottom: 5px;
}

.search-list-unit a {
    display: block;
    color: #075D8E;
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    margin: 7px 0;
}


.search-list-unit a:hover {
    color: #2080b8;
}

/* 雙欄位設定 */
.double-clumn{
    display: flex;
    border: 1px solid #000;
    margin: 5px;

}

.double-clumn-left{
    display:inline-flex;
    width: 25%;

}

.double-clumn-right{
    display:inline-flex;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width:75% ;
}

/* 雙欄位時間軸 */
.unit-time-s{
        display: block;
        width: 100%;
        border: 1px solid #797979;
        background-color:#F7F7F7 ;
        padding: 8px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 5px;
}

.unit-time-s-header{
    display: inline-flex;
    background-color: #5A79B5;
    width: 100%;
    padding: 5px 0;
    margin-bottom:8px;
}

.course-unit-s{
    background-color: #5A79B5;
}

.course-unit-s ul{
    display: flex;
    padding-left: .8rem;

}

.course-unit-s li{
    display:inline-flex;
}

.unit-time-s-body{
    padding: 5px;
    overflow: auto;
}

.unit-time-oder-s{
}

.time-oder-layer .oderpoint{
    display: inline-flex;
    height: 1rem;
    font-size: 0.875rem;
    color:#555555 ;
    width:5%;
    align-items: center;

}

.time-oder-layer .oderpoint-word{
    display: inline-flex;
    height: 1rem;
    font-size: .3rem;
    color:#555555 ;
    padding-top: 3px;
    padding-left: 5px;
}

.time-oder-layer .layer-unit-doit{
    display: inline-flex;
    width: 5%;
    color: black;
    margin-left: -.1%;
    margin-top: -15px;
    margin-bottom: -15px;
}

.time-oder-layer-unit-s{
    display: flex;
}

.layer-unit-doit-s{
    display: inline-flex;
    width: 10%;
    color: black;
    margin-left: -3%;
    margin-top: -10px;
    margin-bottom: -10px;
}

.layer-unit-doit-s hr{
    border: 1px dashed #aaaaaa;
}

.layer-unit-word-s{
    width: 98%;
    margin: 10px 0;
    padding-bottom: 10px;
    border: 3px solid #ABBBD9;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgb(184, 184, 184);
}

.unit-time-s-list-header{
    background-color:#41609B ;
    padding: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.unit-time-s-list-header span{
    display: block;
    color: #ffffff;
    font-size:0.75rem ;
    font-weight: 800;
}

.unit-time-s-list-body{

}

.unit-time-s-list-body p{
    display: block;
    color:#5A79B5 ;
    font-size:0.75rem ;
    line-height: 15px;
    padding: 5px;
    padding-bottom:0;
}

.s-list-body-ment{
    background-color:#F2EDE6 ;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #CCCCCC;
    margin: 5px;
}

.s-list-body-ment-note{
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.s-list-body-ment-note2{
    display:inline-block;
    width: 100%;
}

.s-list-body-ment-note2 .span1{
    display:inline;
    float: right;
    margin: 3px 0;
    padding: 0 1px;
    font-size: .75rem;
    color:#666666 ;
}

.s-list-body-ment-note2 .span2{
    display:inline;
    float: right;
    margin: 3px;
    padding: 0 1px;
    font-size: .75rem;
    color:#666666 ;
}

.timeline-s-group{
    display: flex;
    justify-content: end;
    padding-top: 5px;
}

.timeline-s-group ul{
    display: flex;
}

.timeline-s-group li{
    border-right: 1px solid #111111;
    padding: 0 4px;
}

.timeline-s-group li:last-child {
    border: none;
}

.time-oder-layer2{
    display: flex;
    border: 1px solid orange;
}

.time-oder-layer2 span{
    display:block;
    height: 1rem;
    font-size:1rem;
    color:#555555 ;
    width:5%;
    margin-left: -2%;
}

.oderpoint-word2{
    display: inline-flex;
    height: 1rem;
    font-size: .3rem;
    width:auto ;
    color:#555555 ;
    padding-top: 3px;
    padding-left: 5px;

}